body {
    margin: 0;
}

h1:first-child {
    margin-left: 10px;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;

}

#nav button{
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    color: black;
    text-decoration: none;
}

#nav button:hover {
    background-color: #96C2DB;
    border-color: #96C2DB;
}

.active {
    background-color:#96C2DB;
    border-color: #96C2DB;
}

#table_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.manu_container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 60vh;
    background-color: #E5EDF1;
    margin: 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(122, 119, 119, 0.5) ;
}


.manu_container h2 {
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
}

.manu_container button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-color: #96C2DB;
    font-size: 20px;
}

.manu_container button:hover {
    background-color: #70b4dc;
    border: 3px solid #70b4dc;
}

/* orders page */

.orders_container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: lightgray;
    height: 60vh;
}

.orders_table {
    height: 10vh;
    background-color: #E5EDF1;
}

.orders_table td {
    border: 1px solid black;
    padding: 10px;
}